models/*
dataset/formatted/*
dataset/fake_imgs/*
dataset/real_imgs/*
dataset/test/*
dataset/train/*
dataset/val/*
checkpoints/*
weights/*
examples/*
stable_diffusion/fake_dataset/*
stable_diffusion/flickr_faces_hq/*